<p class="welcome mt-3">Welcome
  <b>
    <%= user.name %>
  </b>
</p>

<div class="row">
  <div class="col">
    <div class="mt-2 mt-sm-0 card text-center">
      <div class="card-body">
        <h2 class="card-title text-blue" id="scrobbleLabel">
          <%= user.playcount %>
        </h2>
        <i class="bi-music-note-beamed" style="font-size: 3rem; color: cornflowerblue;"></i>
        <p class="card-text">Scrobbles</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="mt-2 mt-sm-0 card text-center">
      <div class="card-body">
        <h2 class="card-title" id="albumLabel">
          <%= user.album_count %>
        </h2>
        <i class="bi-disc" style="font-size: 3rem; color: cornflowerblue;"></i>
        <p class="card-text">Albums</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="mt-2 mt-sm-0 card text-center">
      <div class="card-body">
        <h2 class="card-title" id="artistLabel">
          <%= user.artist_count %>
        </h2>
        <i class="bi-people-fill" style="font-size: 3rem; color: cornflowerblue;"></i>
        <p class="card-text">Artists</p>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-4">Recent Scrobbles</h3>

  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped">
        <tbody id="scrobbleTable">
          <% tracks.forEach( (track, index)=> { %>
            <tr>
              <td>
                <img src="<%= track.cover%>" alt="">
              </td>
              <td>
                <%= track.title %>
              </td>
              <td>
                <%= track.artist%>
              </td>
              <td>
                <%= track.scrobbleDateString%>
              </td>
              <td align="right">
                <a href="<%= track.url %>" target="_blank"><i class="bi-arrow-up-right"
                    style="font-size: 1.4rem; color: black;"></i></a>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <style>
    .welcome {
      font-size: 1.5rem;
    }
  </style>

  <script src="./scripts/time.js"></script>
  <script>
    onLoad()

    function onLoad() {
    }

  </script>